/* Ratings */
.numberRating {
  font-size: 1.5rem;
  color: #d89804;
  margin-right: 5px;
  padding-top: 2px;
}

.userRatingsTotal {
  margin-left: 5px;
  color: #888;
  display: inline-block;
}

.starRating {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.restaurantName {
  margin-top: 10px;
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
}

.placeAddress,
.placeAddressNew {
  font-size: 1.4rem;
  color: #888;
}

/* Filter rating  */
.filterLabel {
  padding: 10px 0;
  border-bottom: 1px solid #999;
}

.filterLabel label {
  font-size: 1.5rem;
}

.filterLabel select {
  font-size: 1.5rem !important;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

input[type='submit'] {
  font-size: 1.4rem !important;
  color: #333;
  cursor: pointer;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  transition: background-color 0.5s;
}

input[type='submit']:hover {
  color: #fff;
  background-color: #a8a6a6;
}

/* Add review */
.addReview {
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

.ratingForm__input {
  display: block;
  margin: 1.5rem 0;
  padding: 0.8rem 1.2rem;
  border: 1px solid #cdcfcf;
  width: 100%;
  font-size: 1.4rem;
  transition: 150ms border-color linear;
}

.ratingForm__input--textarea {
  height: 10rem;
  max-width: 24rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.ratingForm__input--textarea::placeholder {
  font-weight: 300;
}

.ratingForm__input--select {
  font-size: 1.4rem !important;
  color: #777;
  border-radius: 5px;
}

.ratingForm__button {
  font-size: 1.6rem !important;
  color: #333;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  transition: background-color 0.5s;
}

.ratingForm__button:hover {
  color: #fff;
  background-color: #a8a6a6;
}

/* New Markers */
.newMarkers {
  border-bottom: 1px solid #999;
}
