* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5

  @media only screen and (max-width: $bp-small){
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25
  }

}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: $black-3;
}

section {
  padding: 5rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-nav {
  @include bg-nav;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.container {
  @media only screen and (max-width: $bp-small) {
    padding: 0 2rem;
  }
}