// COLORS
$black-1: #000;
$black-2: #222;
$black-3: #333;
$black-4: #444;
$black-5: #555;
$black-6: #666;
$black-7: #777;
$black-8: #999;
$black-9: #1e1e1e;

$grey-1: #f2f2f2;



$white: #fff;

$blue-1:#00b6f9;
$blue-2:#007dad;




// Media Query
$bp-largest: 75em; // 1200px/16px = 75
$bp-large: 61.9375em; // 991px/16px
$bp-medium: 47.9375em; // 767px/16px
$bp-small: 37.5em; // 600px/16px
$bp-smaller: 31.25em; // 500px/16px
$bp-smallest: 25em; // 400px/16px






